

.dependent-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 20px;
}

.dependent-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  width: 80%;
  height: 90%;
  margin: auto;
}

.dependent-title{
  margin-bottom: 20px;
  color: burlywood;
}


.wrapper-list{
  overflow-y: auto;
}

p{
  color: green;
}

.dependent-new{
  margin-bottom: 20px;
}

.dependent-list{
  border: 1px solid green;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}

.dependent-name{
  margin-top: 10px;
  font-size: larger;
  text-align: center;
  color: burlywood;
  height: 100%;
}

.dependent-option{
  margin-left: 40px;
}

@media (max-width: 1024px){
  .dependent-content{
    margin: 0;
    width: 100%;
  }
  .dependent-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .dependent-option{
    margin-left: 10px;
    margin-right: 10px;
  }
}