.home-container{
  padding: 20px;
}
.home-options{
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-;
}

.options-search{
  display: flex;
}

.options-guests{
  display: flex;
}

.home-guests{
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 33px 20px;
  justify-content: space-between;
}