.auth-container{
  display: flex;
  padding: 20px;
  justify-content: center;
  background: url(~../../../assets/images/background.jpg);
  background-size:cover;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  align-items: center;
}

.auth-card{
  padding: 95px 50px 50px 50px;
  align-items: center;
  width: 550px;
}
.auth-card-title{
  text-transform: uppercase;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #263238;
  font-weight: normal;
  margin-bottom: 60px;
}

.login-btn{
  width: 100%;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

@media (max-width: 1024px){
  .auth-container{
    margin: 0;
    padding: 10px;
  }
  .auth-card{
       width: 100%;
       flex-direction: column-reverse;
       align-items: center;
       padding: 20px;
       margin: 10px;
  }

  .home-text{
       width: 100%;
       height: 100px;
       margin: 0;
       padding: 0px;
       display: flex;
       flex: 1;
       align-items: center;
       flex-direction: column;
       text-align: center;
  }

  .auth-card-title{
       font-size: 2.5em;
       text-align: center;
       line-height: 50px;
       letter-spacing: 0;
  };

  .login-input{
    // width: 100px;

  }
  
}