.guest-content{
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 33px 20px;
  justify-content: space-between;
}

.guest-link{
  text-decoration: none;
  color: #000;
}


@media (max-width: 1024px){
  .guest-content{
    justify-content: center;
  }
}