.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.home-content{
  padding: 40px;
  flex-direction: row;
  flex-basis: auto;
  text-align: center;
}

.home-text{
  align-self: center;
}

.text-title{
  font-weight: bold;
  color: burlywood
}

.text-title2{
  color: green;
  margin-bottom: 50px;
}

.text-subtitle{
  color: burlywood
}

.text-date{
  font-size: xx-large;
  color: green;
}

.text-address{
  color: burlywood;
  margin-bottom: 50px;
}

.convite{
  width: 80%;
  border-radius: 20px;
}

@media (max-width: 1024px){
  .content{
    margin: 0;
    padding: 0;
  }
  .home-content{
       width: 100%;
       flex-direction: column-reverse;
       align-items: center;
       padding: 20px;
       margin: 10px;
  }
  .convite{
    display: none;
      
  }

  .home-text{
       width: 100%;
       height: 100px;
       margin: 0;
       padding: 0px;
       display: flex;
       flex: 1;
       align-items: center;
       flex-direction: column;
       text-align: center;
  }

  .text-title{
       font-size: 2.5em;
       text-align: center;
       line-height: 50px;
       letter-spacing: 0;
  };
}