$theme-colors: (
     // "primary": #ed2f58,

     
     "primary": #407BFF,
     "secondary": #E1E1E1,
);

$body-bg: #F2F2F2;
$body-color: #263238;

@import '~bootstrap/scss/bootstrap.scss';

@import "~video-react/styles/scss/video-react"; 